{% extends 'base.html.twig' %}

{% block body %}
    {% if error is defined %}
        {{ error }}
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {{ form(form) }}
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fauth;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}

{% endblock %}

