{% extends 'base.html.twig' %}


{% block body %}
    <h2>Welcome to online booking service</h2>
    <a href="{{ path('app-sign-up') }}">Зарегистрироваться</a>
    <a href=" {{ path('auth') }}">Авторизация</a>
{% endblock %}

